{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<link href="{{=URL('static','css/postform.css')}}" rel="stylesheet" type="text/css"/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    // Define API Variables
    var input_posts_url= "{{=URL('api', 'input_posts')}}"   
</script>

{{end}}

 <div id="vue-div">
        hello
</div>









