<!DOCTYPE html>
<html lang="en">

<script src="{{=URL('static','css/myapp.css')}}"></script>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ColVon</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet">
    <link href="{{=URL('static','css/myapp.css')}}" rel="stylesheet">
    <link href="{{=URL('static','font-awesome-4.6.3/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>


</head>

<body>

    <nav class="nav fixed-top navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">UniVon</a>
            </div>


            <ul class="nav navbar-nav">
                <li class="active"><a class="colornav">Home</a></li>
                <!-- should take to a new page -->
                <li><a href="#" class="colornav">Find Opportunities</a></li>
                <li><a href="#services" class="colornav">About</a></li>
                <li><a href="#contact" class="colornav">Contact</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    {{if auth.user_id:}}
                     <a class="colornav" href="{{=URL('default','user',args=['logout'])}}" onclick=$("#menu-close").click();><span class="glyphicon glyphicon-user"></span> Sign out</a>
                 {{else:}}
                    <a class="colornav" href="{{=URL('default','user',args=['login'])}}" onclick=$("#menu-close").click();><span class="glyphicon glyphicon-user"></span> Sign in</a>
                 {{pass}}
                </li>
                <li><a class="colornav" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>

    </nav>

   <div class="container blue">
    <div class="quarter">
      <div class="padded">
        <h5>Filters</h5>    
         <div class="topnav">
            <input type="text" placeholder="Search..">
            <input type="submit" value="Submit">
            <form>
                    keywords:<br>
                    <input type="text" name="firstname"><br>
                    <input type="submit" value="Submit"><br>

            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a class="colornav"></a></li>
                Areas of Interests:<br>
                <li><a href="#" class="colornav">Children and Youth</a></li>
                <li><a href="#" class="colornav">Community</a></li>
                <li><a href="#" class="colornav">Education and Literacy</a></li>
                <li><a href="#" class="colornav">Environment</a></li>
                <li><a href="#" class="colornav">Health and Medicine</a></li>
                <li><a href="#" class="colornav">Seniors</a></li>
                <li><a href="#" class="colornav">Animals</a></li>
                <li><a href="#" class="colornav">Homeless and Housing</a></li>
                <li><a href="#" class="colornav">Women</a></li>
                <li><a href="#" class="colornav">LGTBQ</a></li>
                <li><a href="#" class="colornav">Veterans</a></li>
                <li><a href="#" class="colornav">People with Disabilities</a></li>
            </ul>

        </div>
          
      </div>
    </div>
    <div class="threequarters white">          
      <div class="padded">
        <center><h2>Opportunities</h2>
        <div class="rectangle">
                    <center> <h4><strong>Volunteer Matchmaking</strong></h4>
                        <p>We help you find the best volunteering opportunity near you. We also notify you when similar openings are offered near you</p>
                    <br>
                    <a href="#section1" class="btn-light btn-lg">Learn More</a>
        </div> 

        </svg>

        <svg width="600" height="180">
            <rect x="50" y="20" width="550" height="150"
            style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
            <h4><strong>Volunteer Matchmaking</strong></h4>
                <p>We help you find the best volunteering opportunity near you. We also notify you when similar openings are offered near you</p>
                <br>
                <a href="#section1" class="btn-light btn-lg">Learn More</a>
        </svg>

        <svg width="600" height="180">
            <rect x="50" y="20" width="550" height="150"
            style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
            <h4><strong>Volunteer Matchmaking</strong></h4>
                <p>We help you find the best volunteering opportunity near you. We also notify you when similar openings are offered near you</p>
                <br>
                <a href="#section1" class="btn-light btn-lg">Learn More</a>
        </svg>

        <svg width="600" height="180">
            <rect x="50" y="20" width="550" height="150"
            style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
            <h4><strong>Volunteer Matchmaking</strong></h4>
                <p>We help you find the best volunteering opportunity near you. We also notify you when similar openings are offered near you</p>
                <br>
                <a href="#section1" class="btn-light btn-lg">Learn More</a>
        </svg>

      </div>
    </div>
  </div>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8600.910670072057!2d-122.06200181060217!3d36.99102286152179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e41a2ff8cbf4f%3A0x3a8e3b7c928320d5!2sUniversity+of+California+Santa+Cruz!5e0!3m2!1sen!2sus!4v1487545920979"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A'"></a>
        </small>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h4><strong>UniVon</strong>
                    </h4>
                    <div class="notes">
                        <p>1156 High St, Santa Cruz, CA 95064</p>

                    </div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:contact@univon.com">contact@univon.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>

                    <p class="text-center">Copyright &copy; UniVon 2018</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-users"> Back to top</i></a>
    </footer>

    <!-- jQuery -->
    <script src="{{=URL('static','js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });


    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }

    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);

    </script>

</body>

</html>
