{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<script> var get_posts_url = "{{=URL('api', 'get_posts')}}"</script>

<div id='vue-div' style="padding-left: 3em; padding-top: 5em">
    <p>We will retrieve the data.</p>
    <button v-on:click="get_posts()">Get Posts</button>

    <div v-if="posts.length != 0">
        <ul v-for="post in posts"></ul>
        <li>${post.organization}</li>
    </div>

</div>

<form>
  Opportunity:<br>
  <input type="text" name="Opportunity">
  <br>
  Impacts:<br>
  <input type="text" name="Impact">
  Major:<br>
  <input type="text" name="Major">
  UserEmail:<br>
  <input type="text" name="UserEmail">
</form>

<script src="{{=URL('static', 'js/default_posts.js')}}"></script>

add get post to connect it to vue

